div#game-settings(style='pointer-events: none')
    h2 Game Settings (Editable by Captain):
    div#village-card-toggles.card-list
        h3 Villagers:
    div#werewolf-card-toggles.card-list
        h3 Werewolves:
    div#ambiguous-card-toggles.card-list
        h3 Ambiguous:
    div#independent-card-toggles.card-list
        h3 Independents:
    div#time-sliders
        h3 Time:
    div#miscellanious-options
        h3 Miscellanious Options:
    button#start-game start game
